body {
    background: url(Background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#mainContainer {
    max-width: 60%;
}

#bodyContainer{
    background-color: rgb(221, 247, 255);
    
}

#navContainer {
    padding: 5px 10px;
    background-color: white;
}

/* h1 {
    color: rgba(1, 155, 152, 0.789);
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    display: inline-block;
    /* padding: 10px 10px; */
/* } */

.logo {
    display: inline-block;
    width: 300px;
    padding: 20px 20px;
}

#carouselContainer {
    padding: 50px;
    width: auto;
    align-items: center;
    margin: auto;
}

.carousel {
    height: 910;
    margin: auto;
}

.carousel-inner{
    width: 800px;
    height: 600px;
    margin: auto;
    /* box-shadow: rgba(160, 131, 131, 0.719) 2px 2px 5px 2px; */
}

#petInfo {
  max-height: 40%;
  font-size: 25px;
  width: 1230px;
  text-align: center;
  max-width: 60%;
}

#buttonContainer {
    padding: 10px 10px;
    text-align: center;
}

.picture {
  height: 600px;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: rgba(55, 161, 202, 0.822);
  /*Set to match the Tailwind colour you want the active one to be */
}

button {
    box-shadow: rgba(160, 131, 131, 0.719) 2px 2px 5px 2px;
}

/* Rounded border */
hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 5px;
}

footer {
    text-align: center;
    background-color: rgb(221, 247, 255);
}

.pictureFinalArray {
    padding: 10px 2px;
    width: 405px;
    display: inline-block;
}

#petImages {
    text-align: center;
}
