body {
    background: url(images/Background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#mainContainer {
    max-width: 60%;
    background-color: gray;
}

#footerContainer, #bodyContainer, #homeContainer, #savedContainer {
    background-color:white;
    max-width: 100%;
    text-align: center;
}

.hide {
    display: none;
}

.headerImg {
  width: 90px;
  height: 90px;
}

.block {
    padding: 30px 20px 10px 10px;
    margin: auto;
}
.homepageImg {
    width: 700px;
    height: 900px;
    margin:auto;
    padding: 30px 20px;
}

#navContainer, footer{
    padding: 5px 10px;
    background-color: white;
    max-width: 100%;
}

#description {
    color: rgba(98, 0, 255, 0.789);
    text-align: center;
    font-size: 50px;
    font-style: italic;
}

#start, #savedContainer {
    color: rgba(1, 155, 152, 0.789);
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

#start {
    background-color: rgb(248, 210, 83);
    border: none;
    border-radius: 20%;
}

.logo {
    display: inline-block;
    width: 300px;
    padding: 20px 20px;
}

#petInfo {
  max-height: 40%;
  font-size: 30px;
  width: 1300px;
  text-align: left;
  max-width: 60%;
}

p {
    font-size:25px;
}

#buttonContainer {
    padding: 10px 10px;
    text-align: center;
}

.picture {
  height: 600px;
}

#next, #loved {
    box-shadow: rgba(160, 131, 131, 0.719) 2px 2px 5px 2px;
    font-size: 40px;
    margin:auto;
}

.pictureFinalArray, .savedPetsDivCSS {
    padding: 10px 2px;
    width: 700px;
    height: 800px;
    display: inline-block;
}

#petImages {
    display: inline-block;
}

hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 1px;
}

#map {
    height: 800px;
    width: 800px;
    margin: auto;
}

#petName {
    font-size: 36px;
    font-weight: 700;
}

#petUrl {
    font-size: 36px;
    font-weight: 700;
}

#instructions {
    size: 60px;
}